<div class="wrapper">
  <div>
    <h1>Contacts</h1>
    <table>
      <thead>
        <tr>
          <th class="table-column">Name</th>
          <th class="table-column">Email</th>
          <th class="table-column">Message</th>
        </tr>
      </thead>
      <tbody *ngFor="let contact of contacts">
        <tr>
          <td>{{ contact.nome }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.msg }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h1>New Contact</h1>
    <form (ngSubmit)="handleAddContact()" [formGroup]="contactForm">
      <label>Name<input type="text" formControlName="name"/></label>
      <label>Email<input type="email" formControlName="email"/></label>
      <label>Message<input type="text" formControlName="message"/></label>
      <button [disabled]="!contactForm.valid" type="submit">Submit</button>
    </form>
  </div>
</div>
