.wrapper {
  margin: 10px;
  display: flex;
}

.wrapper > div:first-child {
  width: 50%;
}

table {
  width: 100%;
}

th,
td {
  text-align: left;
  width: auto;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
